body {
    
}

.form-outline {
    background-color: #F6F6F6;
    border-radius: 0.25rem;
}
.notification-title {
    font-size: 18px;
}
.notification-content {
    font-size: 16px;
}
.who {
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    color: #FBFBFB;
    background-color: #3B71CA;
}

.btn:hover {
    color: white
}